{% raw %}
{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center my-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>You have been logged out</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Log In again <a href="{% url 'login' %}" class="ms-2">Log In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% endraw %}