{% raw %}
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-md-center my-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Join Today!</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group mb-4">
                            <button class="btn btn-outline-primary" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already have an account? <a href="{% url 'login' %}" class="ms-2">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% endraw %}